body{
    background-color: red;
}
h1{
    background-color: yellow;
    color: rgb(0, 253, 253);
}
#show_sketch{
    float: right;

}
canvas{
    background-color: white;
    border: 5px solid white;
    border-radius: 25px;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin-top: 50px;

}

@keyframes example{
    from{box-shadow: 1px 1px 40px blue;}
    to{box-shadow: 1px 1px 40px rgb(255, 0, 0);}
}